<h1><i [class]="sectionConfig.icon" style="color: slateblue"></i> 
	{{ sectionConfig.namePlural | titlecase }}
</h1>

<p-toolbar styleClass="mb-6">
	<ng-template #start>
		@if(!creationFormVisible) {
			<p-button [label]="'New ' + sectionConfig.nameSingular" icon="pi pi-plus" class="mr-2"
				(onClick)="toggleCreationForm()" />
		} @else {
			<p-button label="List" icon="pi pi-list" class="mr-2" (onClick)="toggleCreationForm()" />
		}
		@if(selectedRows().length > 0) {
			<p-button severity="danger" label="Delete selected" icon="pi pi-trash" outlined 
				(onClick)="addSelectedToDeleteQueue()"/>
		}
	</ng-template>

	<ng-template #end>
		<p-button label="Export" icon="pi pi-upload" severity="secondary" />
	</ng-template>
</p-toolbar>

@if(!creationFormVisible) {

	<div class="table-responsive">
		@if(!crudService.loading()){
			<table class="table">
				<thead>
					<tr>
						<th scope="col" class="checkbox-col">

							<p-checkbox #mainCheckbox [binary]="true" (change)="toggleAllRows($event)">
							</p-checkbox>
						</th>
						@for(column of listData; track $index) {
							@if(!column.hidden && !column.hideOnList) {
								<th scope="col">
									{{ column.text }}
								</th>
							}
						}
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>

					@for(record of crudService.results(); track record; let odd = $odd) {
						<tr class="table-row" [class.odd]="odd" [ngClass]="{ 'row-selected': record.selected } ">
							<td class="checkbox-col">
								<p-checkbox [(ngModel)]="record.selected" (onChange)="toggleRowSelection(record)" [binary]="true"></p-checkbox>
							</td>
							@for(item of listData; track $index; let odd = $odd) {
								@if(!item.hidden && !item.hideOnList) {
									<td [ngClass]="item['columnClass']">
										{{ record[item.name] }}
									</td>
								}
							}
							<!-- ROW ACTIONS -->
							<td class="action-column">
								<!-- EDIT ACTION -->
							
								@if(listConfig.unEditableIds && !listConfig.unEditableIds.includes(+record.id)) {
									<p-button styleClass="mr-3 small-action-button" icon="pi pi-pencil" [rounded]="true" [text]="true"
										[raised]="true" size="small" />
								}

								<!-- DELETE ACTION -->
								@if(listConfig.unEditableIds && !listConfig.unDeleteableIds.includes(+record.id)) {
									<p-button styleClass="small-action-button" icon="pi pi-trash" [rounded]="true" [text]="true"
										[raised]="true" severity="danger" size="small"
										(onClick)="deleteSingleRecord(record)" />
								} 
							</td>
						</tr>
					}

				</tbody>
			</table>
		} @else {
			<app-skeleton [rowsAmount]="5"></app-skeleton>
		}
	</div>
} @else {
	<div class="flex justify-center">
		<div class="w-full" 
			[ngClass]="{
				'sm:max-w-xs md:max-w-md lg:max-w-lg xl:max-w-xl': sectionConfig.formSize == 'SMALL',
				'sm:max-w-sm md:max-w-lg lg:max-w-xl xl:max-w-2xl': sectionConfig.formSize == 'MEDIUM'
			}">
			<p-panel>
				<ng-template pTemplate="header">
					<i [class]="sectionConfig.icon" style="color: slateblue"></i> 
					<b> Creating {{ sectionConfig.nameSingular }}</b>
					
				</ng-template>

				<ng-container *ngTemplateOutlet="customForm || defaultForm"></ng-container>

				<ng-template #defaultForm>
				
					<form mainForm class="main-form" [formGroup]="sectionForm">
						<div class="grid grid-cols-12 gap-4">
							@for(field of formFields; track $index) {
								<div [class]="field.class" [ngClass]="{ 'Hidden': field.hidden, 'mb-3': true }">
									@switch (field.type) {

										@case('text') {
											<p-iftalabel>
												<input [fluid]="true" [formControlName]="field.name" pInputText [placeholder]="field.placeholder" text="text" />
												<label for="username">{{ field.label }}</label>
											</p-iftalabel>
											<app-field-error [field]="sectionForm.get(field.name)" />
											{{ field.touched }}
											<p-message *ngIf="field.invalid && field.touched" severity="error" text="Correo inválido"></p-message>
										}

										@case('email') {
											<label [for]="field.name">{{ field.label }}</label>
											<input [formControlName]="field.name" class="form-control" [placeholder]="field.placeholder" text="email" />
											<app-field-error [field]="sectionForm.get(field.name)" />
										}

										@case('select') {
											<label [for]="field.name">{{ field.label }}</label>
											@if(field.relation == true) {
												{{ log(field.relationData.data) }}
													<!-- <select [formControlName]="field.name" class="form-select" title="Seleccionar...">
														<option value="null" disabled>{{ field.placeholder }}</option>
														@for(option of field.relationData; track $index) {
															@if(field.useValueAsKey != undefined && field.useValueAsKey) {
																<option [value]="option.value" [selected]="option.key == field.value">{{ option.value }}</option>
															} @else {
																<option [value]="option.key" [selected]="option.key == field.value">{{ option.value }}</option>
															}
														}
													</select> -->

											} @else {

												<select [formControlName]="field.name" class="form-select" title="Seleccionar...">
													<option value="null" disabled>{{ field.placeholder }}</option>
													@for(option of field.options; track $index) {
														@if(field.useValueAsKey != undefined && field.useValueAsKey) {
															<option [value]="option.value" [selected]="option.key == field.value">{{ option.value }}</option>
														} @else {
															<option [value]="option.key" [selected]="option.key == field.value">{{ option.value }}</option>
														}
													}
												</select>
												<app-field-error [field]="sectionForm.get(field.name)" />
											}
										}

										@case('textarea') {
											<label [for]="field.name">{{ field.label }}</label>
											<textarea [formControlName]="field.name" class="form-control" [placeholder]="field.placeholder"></textarea>
											<app-field-error [field]="sectionForm.get(field.name)" />
										}

										@default {
											No input
										}
									}
								</div>
							}
						</div>
						<p-button label="Save" icon="pi pi-check" (onClick)="submitForm()" severity="success"
							[loading]="loading"></p-button>
					</form>
				</ng-template>
			</p-panel>
		</div>
	</div>
}
<p-dialog header="Do you want to delete this record?" [(visible)]="displayDeleteConfirmation" [style]="{ width: '350px' }" [modal]="true">
	<div class="flex items-center justify-center">
		<i class="pi pi-exclamation-triangle mr-4" style="font-size: 2rem"> </i>
		<span>Click YES to proceed.</span>
	</div>
	<ng-template #footer>
		<p-button label="No" icon="pi pi-times" (click)="closeDeleteConfirmation()" text severity="secondary" />
		<p-button label="YES" icon="pi pi-check" (click)="confirmDelete()" severity="danger" outlined autofocus />
	</ng-template>
</p-dialog>