<div class="table-responsive">
    @if(!loading){
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="checkbox-col">

                        <p-checkbox #mainCheckbox [binary]="true" (change)="toggleAllRows($event)">
                        </p-checkbox>
                    </th>
                    @for(column of listData; track $index) {
                        @if(!column.hidden && !column.hideOnList) {
                            <th scope="col">
                                {{ column.text }}
                            </th>
                        }
                    }
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                @for(record of results(); track record; let odd = $odd) {
                    <tr class="table-row" [class.odd]="odd" [ngClass]="{ 'row-selected': record.selected } ">
                        <td class="checkbox-col">
                            <p-checkbox [(ngModel)]="record.selected" (onChange)="toggleRowSelection(record)" [binary]="true"></p-checkbox>
                        </td>
                        @for(item of listData; track $index; let odd = $odd) {
                            @if(!item.hidden && !item.hideOnList) {
                                <td [ngClass]="item['columnClass']">
                                    {{ record[item.name] }}
                                </td>
                            }
                        }
                        <!-- ROW ACTIONS -->
                        <td class="action-column">
                            <!-- EDIT ACTION -->
                        
                            @if(listConfig.unEditableIds && !listConfig.unEditableIds.includes(+record.id)) {
                                <p-button styleClass="mr-3 small-action-button" icon="pi pi-pencil" [rounded]="true" [text]="true"
                                    [raised]="true" size="small" />
                            }

                            <!-- DELETE ACTION -->
                            @if(listConfig.unEditableIds && !listConfig.unDeleteableIds.includes(+record.id)) {
                                <p-button styleClass="small-action-button" icon="pi pi-trash" [rounded]="true" [text]="true"
                                    [raised]="true" severity="danger" size="small"
                                    (onClick)="deleteSingleRecord(record)" />
                            } 
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    } @else {
        <app-skeleton [rowsAmount]="5"></app-skeleton>
    }
</div>