@use 'tailwindcss'
@use 'assets/styles/main'
@tailwind base
@tailwind components

    
.dont-wrap
    white-space: nowrap!important
.text-nowrap
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    display: inline-block
    // min-width: 150px !important